/*------create color class------*/
:root{
    --light-color:#FFF;
    --dark-color:#000;
    --orange-color:#FE6918;
    --dark-orange:#F33702;
    --ligh-gray:#555C66;
    --dark-gray:#292D33;
    --tittle-light-colour:#F1F1F1;
    
}
/*------create color class------*/