/*------create font class------*/

$font-sizes:(
    small: 14px,
    medium: 16px,
    large: 18px,
    extra-large:55px
);

@mixin font-size($size){
    font-size: map-get($font-sizes, $size);
}

/*------create font class------*/